// Sass mixins
@mixin flexbox($justify-content: flex-start, $align-items: center, $flex-direction: column) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin list-style($list-style-type: none, $padding: 0, $margin: 0) {
    list-style-type: $list-style-type;
    padding: $padding;
    margin: $margin;
}

// Styles

$font-size-h1: 2rem;
$font-size-h3: 1.5rem;
$font-size-p: 1rem;

.job-page {
    max-width: 800px;
    margin: 0 auto;
    position: relative;

    h1.job-title {
        font-size: $font-size-h1;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    h3.job-subtitle {
        font-size: $font-size-h3;
        margin-bottom: 1rem;
    }

    p.job-short-desc {
        font-size: $font-size-p;
        margin-bottom: 3rem;
    }

    @include flexbox(space-between);

    // Required stack
    ul.job-required-stack {
        @include list-style(none, 0, 0);

        .job-required-stack-header {
            margin-bottom: 10px;
        }

        .job-required-stack-item {
            display: inline-block;
            padding: 0.5rem;
            border: 1px solid #ccc;
            margin-right: 0.5rem;
            margin-bottom: 1rem;
        }
    }

    // Long description
    .job-long-desc {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    // Location and type of hiring
    .job-location,
    .job-type-of-hiring {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    // Salary and added date
    .job-salary,
    .job-added {
        position: absolute;
        top: 0;
        padding: 0.5rem;
        border-radius: 0.25rem;
        font-size: 0.75rem;
    }

    .job-salary {
        left: 0;
        margin-left: 1rem;
    }

    .job-added {
        right: 0;
        margin-right: 1rem;
    }
}