.job-board {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.job-list-item {
    background-color: #333;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    margin-bottom: 20px;
    padding: 20px;
}